@{
    Layout = "/Views/Shared/_Add.cshtml";
    ViewBag.Title = "Add user";
}
<form method="post">
    <label>Name: </label> <br />
    <input name="name" type="text" /> <br />
    <label>Age: </label> <br />
    <input name="age" type="number" /> <br />
    <input name="send" type="submit" value="Send" />
</form>