<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>PracticSamples2</title>
    </head>
    <body>
        <h2 align="center">@ViewBag.Title</h2>
        <div>@RenderBody()</div>
    </body>
</html>