@{
    Layout = "/Views/Shared/_Authorization.cshtml";
    ViewBag.Title = "Authorization";
}

<label>@ViewBag.Message</label><br/>
<label>Login:</label> <br/>
<input name="login" type="text"/> <br/>
<label>Pin-code</label> <br/>
<input name="pin_code" type="number" /> <br />
<input name="send" type="submit" value="Send" /> 