@using System;
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}
<p>Hello</p>
<p align="center">
    <a href="/User/OutputValue">OutputValue</a> |
    <a href="/User/OutputCollection">OutputCollection</a>
</p>